*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 180px;
  }


.convert{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 240px;
  height: 52px;
  border: 1px solid #293748;
  background-color: #1D2836;
  border-radius: 16px;
  font-size: 20px;
  color: #B9BCC1;;
}

.valor{
  font-size: 120px;
  color: #E8EAEB;
  margin-bottom: 128px;
}
